# Ignorar todos os arquivos dentro de logs/, mas manter o diretório
logs/*

# Ignorar o diretório venv/ (ambientes virtuais)
venv/

# Ignorar o diretório __pycache__ dentro de dags/
dags/__pycache__/
*.pyc              # Arquivos de bytecode Python

# Ignorar configurações locais do vscode
.vscode/

# Manter pastas
!plugins/.gitkeep  # Para garantir que o diretório seja mantido, você pode adicionar um arquivo vazio .gitkeep
!config/.gitkeep  # Para garantir que o diretório seja mantido, você pode adicionar um arquivo vazio .gitkeep
!logs/.gitkeep  # Para garantir que o diretório seja mantido, você pode adicionar um arquivo vazio .gitkeep
